<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Электронный магазин</a>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" routerLink="/"><i class="bi bi-shop-window"><a class="size"> Каталог</a></i></a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" routerLink="/cart"><i class="bi bi-cart3"><a class="size"> Корзина</a></i></a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" routerLink="/orders"><i class="bi bi-box-seam"> <a class="size"> Заказы</a></i></a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" routerLink="/user"><i class="bi bi-person-circle"><a class="size"> Пользователь</a></i></a>
      </li>
    </ul>
  </div>
</nav>
